.todo_item {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  background-color: rgb(231, 231, 231);
  /* box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2); */
}

.text {
  font-size: 20px;
  font-weight: 500;
  color: rgb(172, 172, 172);
}

.btn {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
}

.btn :hover {
  cursor: pointer;
  fill: red;
}

.completed {
  text-decoration: line-through;
}