* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: auto;
  width: 600px;
  background-color: rgb(248, 248, 248);
  border-radius: 7px;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.title {
  text-align: center;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  justify-content: space-between;

}

.todo_items {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  font-size: 18px;
  padding-left: 10px;
  width: 60%;
  border: none;
}

.input_title{
  height: 35px;
  font-size: 25px;
}
.input_text{
  height: 30px;
}

.input:focus {
  outline: solid;
  outline-width: 2px;
  outline-color: rgb(32, 90, 251);
}

.button {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgb(32, 90, 251);

}

.button:hover {
  cursor: pointer;
  background-color: rgb(81, 127, 255);
}

@media(max-width:650px) {
  .container {
    width: 100%;
  }

  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}